.user {
    position: absolute;
    top: 50px;
    left: 5%;
    z-index: 10;
}

.text {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 10px;
}

.desc {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0.8;
}